body {
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: sans-serif;
    color: #333;
}
#map {
    height: 100vh;
    width: 100%;
    position: relative;
}
#control {
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1000;
    padding: 15px;
}
#cardDecription{
    padding: 0.5em 1em;
    color : white;
    display: inline-flex;
    flex-direction: column;
    flex: 0 0 60%;
}
#cardDescriptionTitle{
    color : white;
    margin : 0 !important;
    font-size: 1.5em;
}
.cardDescriptionAddress{
    margin : 0 !important;
    font-size: 0.9em;
}
.cardDescriptionInfo{
    margin : 0 !important;
    font-size: 0.9em;
}
#cardPrice{
    color : white;
    display : flex;
    align-items : center;
    margin : 0 !important;
}
#cardPricePrice{
    color : green;
    margin-left : 1em !important;
    margin-bottom: 0 !important;
}
#cardPriceAnchor{
    color : white;
    margin-bottom: 0.3em !important;
    margin-top: 0 !important;
}
#cardInfo{
    margin : 0 !important;
    padding : 0 !important;
    background-color: #1d1919;
    box-shadow : 0 6px 12px 0 rgba(0, 0, 0, 0.01), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    margin : 0 !important;
    z-index: 10;
}
#cardDecription{
    padding: 0.25em 0.25em 0.25em 0.75em;
}
#cardFigure{
    padding : 0;
    margin : 0;
}
#cardImage{
    margin : 0 !important;
    width : 100%;
}
p{
    margin : 0!important;
}

#cardPriceImage{
    margin : 0 !important;
    width : 20px;
}
@media only screen and (min-width: 991px) {
    #cardInfo{
        position: absolute;
        flex-direction : column;
        font-size : 12px;
        top : 5em !important;
        left : 28em;
        display : none;
        border-radius : 0.5rem;
    }
    #cardImage{
        width : 300px;
        border-radius : 0.5rem 0.5rem 0 0rem;
        display: flex;
    }
    #cardDecription{
        padding: 1em;
    }
}
@media only screen and (max-width: 990px) {
    #cardInfo{
        position: absolute;
        bottom: 0 !important;
        width: 100vw;
        position : fixed;
        display : none;
        transition: height 1s;
    }
    #cardDecription{
        font-size : 12px;
        flex : 1;
    }
    #cardFigure{
        flex : 1;
    }
}

#fa_euro{
    font-size:20px;
    margin: 0.5em;
}
[type=radio]:checked + [id=fa_precio_low] {
    box-shadow: 0 0 0 1px  #464444;
    background-color: #f8f4f42f;
    border-radius: 5px;;
}
[type=radio]:checked + [id=fa_precio_mid] {
    box-shadow: 0 0 0 1px  #c12923;
    background-color: #f8f4f42f;
    border-radius: 5px;
}
[type=radio]:checked + [id=fa_precio_high] {
    box-shadow: 0 0 0 1px  #c12923;
    border-radius: 5px;;
    background-color: #f8f4f42f;
}
