body {
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: sans-serif;
    color: #333;
}
#map {
    height: 100vh;
    width: 100%;
    position: relative;
}
#control {
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1000;
    padding: 15px;
}

#cardImage{
    width : 100px;
    margin : 0 !important;
    flex: 1 0 auto;
}
#cardDecription{
    color : white;
    margin : 0 !important;
    display: inline-flex;
    flex-direction: column;
    flex: 0 0 60%;
}
#cardDescriptionTitle{
    color : white;
    margin : 0 !important;
    font-size: 1.5em;
}
.cardDescriptionAddress{
    margin : 0 !important;
    font-size: 0.9em;
}
.cardDescriptionInfo{
    margin : 0 !important;
    font-size: 0.9em;
}
#cardPrice{
    color : white;
    display : flex;
    align-items : center;
    margin : 0 !important;
}
#cardPriceImage{
    margin : 2em !important;
}
#cardPricePrice{
    color : green;
    margin-left : 1em !important;
    margin-bottom: 0 !important;
}
#cardPriceAnchor{
    color : white;
    margin-bottom: 0.3em !important;
    margin-top: 0 !important;
}
#cardInfo{
    padding: 2rem;
    background-color: #1d1919;
    box-shadow : 0 6px 12px 0 rgba(0, 0, 0, 0.01), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    margin : 0 !important;
    transition: height 1s;
}
@media only screen and (min-width: 991px) {
    #cardInfo{
        margin : 0 !important;
        flex-direction : row;
        justify-content : space-between;
        align-items : center;
        position: absolute;
        top : 2em;
        left : 2em;
        z-index: 10;
        display : none;
        border-radius : 0.2rem;
    }
    #cardImage{
        margin : 0 !important;
        width : 150px;
        display: flex;
    }
    #cardPriceImage{
        margin : 0 !important;
        width : 20px;
    }
}
@media only screen and (max-width: 990px) {
    #cardInfo{
        margin : 0 !important;
        flex-direction : row;
        justify-content : space-between;
        align-items : center;
        position: absolute;
        bottom: 0;
        width: 100vw;
        z-index: 10;
        position : fixed;
        display : none;
    }
    #cardImage{
        margin : 0 !important;
        width : 100px;
    }
    #cardPriceImage{
        margin : 0 !important;
        width : 20px;
    }
}

#fa_euro{
    font-size:20px;
    margin: 8 px;
}
#fa_precio_low{
    color: #13f626;
}
#fa_precio_mid{
    color: #f8b72f;
}
#fa_precio_high{
    color: #c12923;
}
[type=radio]:checked + [id=fa_precio_low] {
    box-shadow: 0 0 0 1px  #464444;
    background-color: #f8f4f42f;
    border-radius: 5px;;
}
[type=radio]:checked + [id=fa_precio_mid] {
    box-shadow: 0 0 0 1px  #c12923;
    background-color: #f8f4f42f;
    border-radius: 5px;
}
[type=radio]:checked + [id=fa_precio_high] {
    box-shadow: 0 0 0 1px  #c12923;
    border-radius: 5px;;
    background-color: #f8f4f42f;
}
